---
---

* { box-sizing: border-box; }

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    p {
        font-family: "proxima-nova", sans-serif;
    }
}

// Colors
$main-color: #523080;
$alt-color: #eee;
$alt-color-2: #008895;
$main-color-light: #9782B3;
$alt-color-light: #fff;
$alt-color-2-light: #74c0c9;
$gray: #333;
$white: #fff;

// Breakpoints
$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$large: screen and (min-width: 64em);

$between-small: screen and (min-width: 480px) and (max-width: 855px);

@import 'breakpoint';
@import 'base';
@import 'index';
